.chufa {
    margin: 80px 0 0 0;
    width: 100vw;
    height: 1200px;
    background-color: #dddddd;
    
}
.left {
    float: left;
    width: 300px;
    height: 1200px;
}
.right {
    float: left;
    width: 500px;
    height: 1200px;
}